@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* my references
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; 
 --breakPSmall:576px;
  --breakPMedium:768px;
  --breakPLarge:992px;
  --breakPExtLarge:1200px; 
  --margin-top:40px; */

/* OVERWRITE BOOTSTRAP  */
:root {
  --primary: #ee080d;
  --secondary: #fdc0c8;
  --grayLight: #f3f3f3;
  --grayDark: #898989;
  --font: #26273c;
  --overlay: rgba(28, 28, 28, 0.7);
  --max-width: 2000px;
  --max-wrapper: 1200px;

}


/* GENERAL ---------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}


body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  overflow-x: hidden;
  display:flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  
}

a {
  color: #000;
  text-decoration: none;
  outline:none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}


img {
  width: 100%;
  display: block;
}

input::-webkit-input-placeholder{
  color:var(--grayDark);
}

input::-moz-placeholder{
  color:var(--grayDark);
}

input::-ms-input-placeholder{
  color:var(--grayDark);
}

input::placeholder{
  color:var(--grayDark);
}

textarea::-webkit-input-placeholder{
  color:var(--grayDark);
}
textarea::-moz-placeholder{
  color:var(--grayDark);
}
textarea::-ms-input-placeholder{
  color:var(--grayDark);
}
textarea::placeholder{
  color:var(--grayDark);
}



.form-message{
  display:flex;
  justify-content: center;
  margin:10px;

  
}
.form-message span{
font-size:1.3rem;
font-weight: 500;
  text-align: center;
}

.form-error {
    color: var(--primary);
}
.form-success{
    color: green;
}
.input-error{
    box-shadow: 0 0 0 2px var(--primary);
}


fieldset {
  margin:20px 0 60px;
  background: var(--grayLight);
  border-radius: 5px;
  padding: 15px;
  border:2px solid var(--grayDark);
  width: 100%;
  max-width: 300px;
  margin:20px auto 0;
}

fieldset legend {
  display:inline-block;
  color: var(--font);
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 500;
  width: 110px;
  text-transform: uppercase;
  margin:0;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

.select{
  margin:0 0 20px;
}

textarea {
  resize: none;
}

.not-found {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:80px 40px;
  color:var(--primary);
}

.not-found-text{
  font-size: 2rem;
  text-align: center;
}

.not-found .go-back-page button{
  margin:20px 0;
  color:var(--font);
  background-color: transparent;
  font-size: 1rem;
}

.not-found .go-back-page button:hover{
  color:var(--grayLight);
  background-color: var(--primary);
}

.not-found-img{
  background-color:var(--secondary);
}

/* STOP SCROLL ON MOBILE  */
.noscroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
}

.hero{
  max-width: var(--max-width);
  margin:auto;
}

/* SECTION TITLES  */
.header-titles {
  text-align: center;
  margin: 50px 0 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--font);
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  position: relative;

  /* color:var(--primary); */
}

.sections {
  margin: 10px 0 0;
  padding: 20px 20px 40px;
}

.services,
.used-cars
  {
  width: 100%;
}

.card-img-top{

  object-fit: contain;
}
.card-img-top.height-200{
  height: 200px;
  object-fit:contain;
}
.card-body.height-230{
  height: 230px;
}
.card-body.height-280{
  height: 280px;
}

/* CARDS  */
.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: var(--max-wrapper);
  margin:0 auto;
}

h3.no-cars{
  color:var(--primary);
  font-size: 2rem;
  margin:40px auto;
}

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  border: 2px solid var(--grayLight);
  border-radius: 10px;
  padding: 10px;
  max-width: calc(100% - 1em);
  transition: 0.4s ease;
  transform: scale(1);
}

.card .card-header {
  border: none;
  padding:0;
}

.card-body .card-title {
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
}

.btn-fill {
  border: none;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.btn-fill.large {
  padding: 0.2rem 1rem;
}

input[type="submit"]{
  background-color: var(--primary);
  border:2px solid transparent;
}

input[type="submit"]:hover{
  border:2px solid var(--primary);
  background-color: #fff;
  color:var(--font);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-wire {
  border: 2px solid var(--primary);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  color: var(--font);
  display: inline-block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-wire.large {
  padding: 0.2rem 1rem;
}

.btn-wire.small {
  padding: 0.2rem 1rem;
  display:inline-block;
}

.btn-wire:hover{
  background-color: var(--primary);
}



.pagination{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
}

/* PAGINATION  */
.page-link{
  /* margin:auto ; */
  background-color: var(--grayLight);
  color:var(--primary);
}
.page-link:hover{
  /* margin: 20px auto; */
  background-color: var(--grayLight);
  color:var(--primary);
}
.page-link.active{
  background-color: var(--primary);
  color:var(--grayLight);
}

/* BREADCRUMB  */

.breadcrumbs{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top:2px solid #00000015;
}

.breadcrumbs ul{
  padding:0;
  margin:0;
  list-style: none;
  background-color: var(--grayLight);
  width: 60%;
  border-radius:0;
  background-color: inherit;
}

.breadcrumbs li {
  display: inline;
  font-size: 0.8rem;
  font-weight: 500;
}

.breadcrumbs li+li:before {
  color: var(--font);
  content: "\00a0>\00a0";
}

.breadcrumbs li a,
.go-back-list  a {
  padding:0;
  margin:0;
  color: var(--font);
  text-decoration: none;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color:var(--primary);
}

.breadcrumbs li a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.breadcrumbs .go-back-list{
  padding:0;
  margin:0;
  line-height: 1rem;
  text-align: end;
}

/* link disabled  */
.breadcrumbs a.isDisabled {
  text-decoration: none;
  pointer-events: none;
  opacity:0.8;
  color:var(--grayDark);
}

@media (min-width:480px){
  .card{
    width: 400px;
  }
}

@media (min-width: 992px) {
  .breadcrumbs {
    padding: 20px 60px;
  }

  .header-titles {
    font-size: 2.2rem;
  }

  .btn-fill {
    border:2px solid transparent;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .btn-fill:hover{
    background-color: var(--grayLight);
    color:var(--font);
    border:2px solid var(--primary);
  }

  /* NOT FOUND ----- */
  .not-found-text{
    font-size: 4rem;
  }
  
  .not-found .go-back-page button{
    font-size: 1.2rem;
    padding:5px 10px;
  }
}


/* GO TO TOP BUTTON  */
#button {
  display: inline-block;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  border:2px solid transparent;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  border:2px solid var(--primary);
  background-color: var(--grayLight);
}
#button:active {
  border:2px solid var(--primary);
  background-color: var(--grayLight);
}

#button:hover::after {
 
  color:var(--primary);
}
#button:active::after {
   
  color:var(--primary);
}





#button.show {
  opacity: 1;
  visibility: visible;
}



/* END GENERAL -------------------------- */



/* HEADER -----------------------------------*/

.header {
  padding: 20px;
}

.logo img {
  max-width: 100px;
  display: block;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}


.nav-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  list-style: none;
  z-index: 3;
  margin: 0;
  max-width: var(--max-wrapper);
}

.nav-list li {
  opacity: 0;
  margin-left: 0;
  font-size: 1.3rem;
  text-align: end;
}

.nav-list .nav-link {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding:0;
}

.nav-list .nav-link:hover {
  opacity: 0.7;
  color: var(--primary);
  text-decoration: underline;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px var(--primary);
  z-index: 100;
  overflow-x: hidden;
  margin-left:auto;
}

.mobile-menu div {
  width: 32px;
  height: 3px;
  background-color: var(--grayDark);
  margin: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-list.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width:70vw;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  -ms-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  -ms-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}





/* GO TO TOP  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--grayLight);
  border:1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  
}

#myBtn:hover {
  background-color: var(--primary);
  color: var(--grayLight);
}

@media (min-width: 992px) {
  .header {
    padding: 20px 60px;
  }

  .nav-list {
    position: relative;
    right: 0;
    width: 70vw;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav-list li {
    margin-left: 40px;
    opacity: 1;
    font-size: 1.2rem;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width:1200px){

  
  .nav-list li {
    margin-left: 70px;
    opacity: 1;
    font-size: 1.2rem;
  }
}


/* END HEADER ---------------------------------- */




/* HERO ----------------------------------- */
.hero {

  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--overlay)), to(var(--overlay))),
    url('../images/hero.jpg');
  background-image: -o-linear-gradient(top, var(--overlay), var(--overlay)),
    url('../images/hero.jpg');
  background-image: linear-gradient(to bottom, var(--overlay), var(--overlay)),
    url('../images/hero.jpg');
  /* background-position: 50% 50%; */
  background-size: cover;
  background-repeat: no-repeat;
  
}

.hero-404{
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--overlay)), to(var(--overlay))),
    url('../images/404page.jpg');
  background-image: -o-linear-gradient(top, var(--overlay), var(--overlay)),
    url('../images/404page.jpg');
  background-image: linear-gradient(to bottom, var(--overlay), var(--overlay)),
    url('../images/404page.jpg');
  /* background-position: 50% 50%; */
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-404, .hero{
  width: 100%;
  height: 90vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-text,
.hero-404-text {
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-title,
.hero-404-text-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: start;
}

.hero-text-description,
.hero-404-text-description
{
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (min-width: 576px) {
  .hero,
  .hero-404 {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .hero-text,
  .hero-404-text {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
  }

  .hero-text-title,
  .hero-404-text-title
  {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .hero,
  .hero-404
  {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .hero-text,
  .hero-404-text{
    width: 40%;
    margin-left: auto;
    margin-right: 100px;
  }

  .hero-text-title,
  .hero-404-text-title {
    font-size: 3rem;
  }
}


@media screen and (min-width:992px){
  .hero-text-title,
  .hero-404-text-title
  {
    font-size: 4rem;
  }
}
/* END HERO --------------------------------- */



/* SERVICES ----------------------------------- */

.services .card{
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.14); 
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.14);
}

.services .card-header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services .card-header img {
  height: 180px;
  width: 100%;  
  object-fit: cover;
}

.card-title.center {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .services .card,
  .used-cars .card
   {
    max-width: calc(100% - 1em);
  }
}
@media screen and (min-width: 576px) {
  .services .card,
  .used-cars .card
    {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 992px) {
  
  .services .card,
  .used-cars .card {
    max-width: calc(33% - 1em);
  }
}

/* LAST NEWS USED CARS --------------------------- */

.used-cars {
  background-color: var(--grayLight);
}

.used-cars .more-cars{
  width: 100%;
  text-align: center;
  margin:20px 0 0;

}

/* TESTIMONIAL  CAROUSEL*/

.testimonial {
  width: 80%;
  margin: 0 auto;
  padding: 20px 20px 40px;
  /* height: 600px; */
}

.carousel {
  max-width: 600px;
  margin: 20px auto 0;
  padding-top: 3rem;
}

.carousel-inner {
  padding: 0;
  height: 100%;
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
  border: 2px solid var(--grayLight);
  height: 300px;
  margin: 0 auto;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-caption .quote-left,
.carousel-caption .quote-right {
  font-size: 2rem;
  color: #898989a4;
  padding: 0;
  margin: 0;
}

.carousel-caption .quote-left {
  display: block;
  text-align: left;
}
.carousel-caption .quote-right {
  display: block;
  text-align: right;
}

.carousel-caption .stars i {
  color: var(--font);
  font-size: 0.8rem;
  color: var(--primary);
}

.carousel-caption p {
  margin: 0;
  display: block;
  padding: 1em 0;
  font-size: 1rem;
  line-height: 28px;
  color: var(--font);
  text-align: left;
  font-weight: 400;
}

.name-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--font);
  text-align: left;
}

.carousel i {
  color: var(--secondary);
  padding: 0.4rem;
}

.add-review {
  width: 100%;
  text-align: center;
  margin:20px 0 0;
}

@media (max-width: 768px) {
  .testimonial {
    width: 80%;
    margin: 20px auto 40px;
    padding: 20px 20px 40px;
    /* height: 550px; */
  }

  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 1rem;
    color: rgba(78, 77, 77, 0.856);
    /* height:350px; */
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem;
  }

  .carousel-caption .stars i {
    font-size: 0.5rem;
    padding: 0.2rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }
  .name-caption {
    font-style: normal;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .carousel-caption .quote-left,
  .carousel-caption .quote-right {
    font-size: 1rem;
  }
}

.carousel-control-prev {
  /* justify-content: flex-start; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 50px;
  width: 50px;
}
.carousel-control-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 50px;
  width: 50px;
}
.carousel-control-prev i,
.carousel-control-next i {
  color: #000;
  background-color: var(--grayLight);
  border-radius: 50%;
  padding: 0.8rem;
}
.carousel-control-prev {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  opacity: unset;
}
.carousel-control-next {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  opacity: unset;
}

/* avis client  */






/* END TESTIMONIAL --------------------------- */



/* CONTACT ---------------------  */
.contact {
  background-color: var(--grayLight);
  padding:20px;
}

.contact-wrapper form {
  width: 100%;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 10px 40px;
  width: 100%;
  margin: 0 auto 40px;
  border-radius: 15px;
  max-width: var(--max-wrapper);
  position: relative;
}

.contact-wrapper h3 {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contact-wrapper p {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  line-height: 1.3rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contact-wrapper p.active{
  color:var(--primary);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}

.contact-form-left,
.contact-form-right {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.contact-form textarea {
  resize: none;
  height: 180px;
  padding:10px;
}

.contact-form label {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
}

.contact-form input {
  height: 2rem;
  padding: 0 10px;
}

.form-btn {
  width: 100%;
  text-align: center;
}

.hide{
  display:none;
}

@media (min-width: 992px) {

  .contact {
    padding:20px 60px;
  }

  .contact-form {
    
    flex-direction: row;
    gap: 70px;
    align-items: flex-start;
    justify-content: space-between;
    /* margin-bottom: 30px; */
  }

 

  .contact-wrapper {
    padding: 40px;
  }

  .contact-wrapper h3 {
    font-size: 1.3rem;
  }

  .contact-wrapper p {
    font-size: 1rem;
  }

  .contact-form-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }

  .contact-form-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-left,
.contact-form-right {
  width: 48%;
}
   

}
/* END CONTACT ---------------------- */



/* FOOTER  */

.footer {
  background-color: var(--grayDark);
  color: var(--grayLight);
  font-size: 1rem;
  width: 100%;
  padding: 20px 0 0;
  font-size: 1rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 2000px;
  margin:auto;
}

.footer p {
  margin: 0;
}

.footer img {
  width: 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.footer-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 30px 10px;
  width: 100%;
  max-width: var(--max-wrapper);
}

.footer-local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-local-owner{
  padding:15px 0;
  font-weight: 700;
}

.footer-phone,
.footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-phone .icon,
.footer-email .icon {
  margin-right: 10px;
}

.footer-address p {
  font-weight: 400;
}

.footer-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 0;
  padding: 10px 30px;
  border-radius: 10px;
  max-width: 900px;
}

.footer-days-title {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer-days,
.footer-day-week {
  color: var(--grayLight);
}

.footer-day {
  font-weight: 500;
 
}

/* FOOTER NAVIGATION  */

.footer-navigation {
  background-color: var(--grayLight);
  width: 100%;
  height: 100%;
  padding:20px 0 ;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: var(--font);
}

.footer-nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  z-index: 3;
  margin: 0 auto;
  font-size: 0.8rem;
}

.footer-nav-list li {
  margin: 10px;
}

.footer-nav-link:hover {
  opacity: 0.7;
  color: var(--primary);
  text-decoration: underline;
}

/* FOOTER SOCIAL NETWORK  */
.footer-social-network {
  color: var(--grayDark);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2rem;
  margin: 30px auto 20px;
  max-width: 300px;
 
}

.footer-social-network a{
  color:var(--grayDark);
}
.footer-social-network a:hover{
  color:var(--font);
}


@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.2rem;
  }
  .footer-schedule {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding:10px;
  }

  .footer-days {
    margin: 0 40px;
    padding:30px 50px;
  }

  .footer-days-title {
    font-size: 1.2rem;
  }

  .footer-nav-list {
   
    max-width: 800px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-size: 0.9rem;
  }
}


/* USED CARS ---------------------------------------------------  */

.filtering{
  /* min-height: 90vh; */
  max-width: var(--max-width);
  width: 100%;
  padding:20px;
}

.filters{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-wrapper);
  margin:0 auto;
}

#kilometer_range,
#year_range,
#price_range{
  width: 200px;
}

#loading {
  /* text-align: center; */
  background: url('../images/loader.gif') no-repeat center;
  background-size: 100%;
  height: 150px;
  width: 150px;
  font-size:1rem;
  margin:40px auto;
}


.filter-group{
  margin:10px 0;
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-group-title{
  font-size: 0.9rem;
  padding:0;
  margin:0;
}

.filter-group p{
  font-size: 0.9rem;
  margin:0;
  padding:0;
}

.filter-group .btn-wire {
  max-width: 100px;
  text-align: center;
  margin:10px 0;
  font-size: 0.9rem;
  padding:3px 6px;
  border:2px solid var(--grayDark)
}
.filter-group .btn-wire:hover {
  color:#fff;
}

@media screen and (min-width:768px) {
  .filters{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .filter-group{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}


/* CAR DETAILS ------------------  */

.car{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1200px;
  margin:0 auto 40px;
  background-color: #fff;
  border-radius:10px;
  padding:30px 15px;
}

.car-images{
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 500px;
  margin:0 auto;
}

.car-img{
  width: 100%;
  max-width: 700px;
}

.car-thumbnails{
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap:20px;
  margin:40px 0;
}

.car-thumbnails img{
  width: 20%;
}

.car-descriptions{
  width: 100%;
  max-width: 500px;
  margin:0 auto;
}

.car-descriptions .car-price{
  text-align: right;
  font-weight: 500;
}

.car-accessories-description span:first-child{
  color:var(--font);
  font-weight: 500;
}

.car-link-contact{
  color:var(--primary);
  font-weight: 500;
  text-transform: uppercase;
}
.car-link-contact:hover{
  text-decoration: underline;
  color:var(--primary);
}

@media screen and (min-width:768px){
  .car{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding:80px 20px;
  }

  .car-descriptions{
    width: 100%;
    max-width: 400px;
    margin:0 45px;
  }
}


/* CONTACT BUY CAR --------------------------  */

.contact-buy-car .header-titles{
  margin:50px 0 10px;
}

.contact-buy-car-txt{
  text-align: center;
}


/* ---------------------------------------------------  
CONNECTION BOSS EMPLOYE ALL PAGES---------------------------
-----------------------------------
*/

/* NAVIGATION  */ 
.user-connection{
  text-align: right;
  margin-bottom:10px;
}
.user-connection span {
  font-weight: 600;
  font-style: italic;
}

/* connection FORM---------------------  */

.connection {
  background-color: var(--grayLight);
  padding:20px;
  min-height: 87vh;
  margin:0;
}


.connection-wrapper form {
  width: 100%;
}

.connection .connection-wrapper {
  background-color: #fff;
  padding: 20px 10px 40px;
  width: 100%;
  margin: 20px auto 40px;
  border-radius: 15px;
  max-width: var(--max-wrapper);
}

.connection-form {
  width: 100%;
  padding: 10px;
}

.connection-form input {
  width: 100%;
  display: inline-block;
}

.connection-form label {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
}

.connection-form input {
  height: 2rem;
  padding: 0 10px;
}

.connection-form-btn {
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .connection {
    padding:60px;
  }

  .connection-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 0;
    padding:20px;
  }

  .connection .connection-wrapper{
    max-width: var(--max-wrapper);
    margin:20px auto;
    padding:40px 60px;
  } 
}


/* EMPLOYEE ------------------------------  */

.breadcrumbs.breadcrumbs-connection{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


/* CONNECTION FORMS --------------  */

textarea.service-description,
textarea.comment{
  width: 100%;
}

.connection .connection-header
 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: var(--max-wrapper);
  width: 100%;
  margin:40px auto;
}

.connection .header-titles{
  padding:0;
  margin:0 auto;
  text-align:start;
  max-width: var(--max-wrapper);
  /* flex-grow:1; */
  text-align: center;
}

.connection .header-titles .btn-wire{
  margin-left:auto;
}

.connection-table
{
  overflow-x:auto;
}


/* connection TABLE  */
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--grayDark);
}

td, th {
  border: 1px solid var(--grayDark);
  text-align: center;
  padding: 8px;
}
td{
  font-size:1rem;
}

td a:first-child i{
  color:var(--font);
  margin:5px;
  font-size:1.2rem;
}

td a:last-child i{
  color:var(--primary);
  margin:5px;
  font-size:1.2rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th.size50 {
  min-width:50px;
}
th.size100 {
  min-width:100px;
}

.connection-wrapper.w-max{
  max-width: 700px;
  padding:20px;
}
.connection-wrapper.w-min{
  max-width: 800px;
  padding:20px;
}
.connection.w-min h2{
  max-width: 800px;
}

.connection-wrapper.w-max input.large{
  width: 100%;
  max-width:150px;
  padding:0 10px;
}
.connection-wrapper.w-max input{
  width: 100%;
  max-width:80px;
  padding:0 10px;
  margin:0;
}

.form-day.center{
  text-align: center;
}

.schedule-form{
  margin:10px 0 40px;
}

.schedule-form .form-group{
  width: 100%;
  margin:10px auto 20px;
}

.schedule-form .time-message{
  font-size: 0.9rem;
  font-weight: 500;
  color:var(--primary);
  margin:5px;
  display: inline-block;
}

@media screen and (min-width:576px){
  .connection-wrapper.w-max{
    padding:30px;
  }

  .schedule-form .form-group{
    width: 70%;
  }
}

@media screen and (min-width:992px){
  .service.sections {
    padding:20px 60px;
  }

  td{
    font-size:1rem;
  }

  .service-wrapper{
    margin:40px auto;
  }

  .connection-wrapper{
    padding:20px 60px;
  }
}


/* CONNECTION ADD CAR ------------- */

.car-model-top{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.car-model-top .form-group:first-child{
  width: 100%;

}
.car-model-top .form-group:last-child{
  width: 100%;
}

.connection-form .car-model input,
.connection-form .car-description input
{
  display:block;
}

.connection-form .car-description input[type=file]{
  padding:0;
}

.connection-form .form-group.header .title{
  -webkit-box-flex:0;
  -ms-flex-positive:0;
  flex-grow:0;
  margin:0;
}

.connection-form .car-description{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  
}

.connection-form .car-description .car-description-left,
.connection-form .car-description .car-description-right{
  width: 100%;
}

.connection-form.add-car .car-description{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  width: 100%;
}

@media screen and (min-width:576px) {
  
  .car-model-top{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .car-model-top .form-group:first-child{
    width: 10%;

  }
  .car-model-top .form-group:last-child{
    width: 90%;
    margin-left:45px;
  }

  .connection-form .car-description{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap:40px;
  }
}
